body {
  background-color: #14110f;
  background: #000000 url(background-black.png) left top no-repeat ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  
}

.cabeçalho {
  font-size: 3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  font-size: 45px;
  line-height: 90px;
}

.section-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
}

.picture {
  border-radius: 100%;
}

.big-highlight {
  font-size: large;

}

.small-highlight {
  font-size: small;

}

.emphasis {
  color: #7e7f83;
}

.links {
  text-decoration: none;
  color: #ffffff;
}